# Puerto del servidor Node.js
PORT=8000

# Base de datos PostgreSQL (si usas el docker-compose.yml provisto)
DATABASE_URL="postgresql://admin:password@localhost:5432/motor_pagos?schema=public"

# Credenciales de Mercado Pago (Globales del Motor, si aplican)
MP_CLIENT_ID=tu_client_id_aca
MP_CLIENT_SECRET=tu_client_secret_aca
